<template>
  <div class="login_wrapper">

    <h1>{{applicationName}}</h1>

    <!-- Show loader if logging in -->
    <Loader v-if="loading">Logging in</Loader>

    <!-- Else show form -->
    <form
      class="login_form"
      v-else
      @submit.prevent="login()">






      <div class="input_wrapper">
        <label>e-mail</label>
        <input type="text" v-model="email_address">
      </div>

      <div class="input_wrapper">
        <label>Password</label>
        <input type="password" v-model="password">
      </div>

      <div class="">
        <input type="submit" value="Login">
      </div>

      <p v-if="hint">Hint: {{hint}}</p>
      <p class="error">{{error}}</p>

    </form>
  </div>
</template>

<script>

import axios from 'axios'
import VueCookies from 'vue-cookies'

import Loader from '@moreillon/vue_loader'

export default {
  name: 'LoginForm',
  props: {
    applicationName: {
      type: String,
    },
    authentication_api_url: {
      type: String,
    },
  },
  components: {
    Loader
  },
  data(){
    return {
      email_address: '',
      password: '',
      hint: process.env.VUE_APP_AUTHENTICATION_HINT,
      error: null,
      loading: false,
    }
  },
  methods: {
    login() {
      this.error = null
      this.loading = true
      let url = `${this.authentication_api_url}/login`
      axios.post(url, {
        email_address: this.email_address,
        password: this.password,
      })
      .then((response) => {
        //VueCookies.set("jwt", response.data.jwt, '14d', null, null)
        // 14 days, undefined path, domain if existing, secure none (because intranet),
        VueCookies.set("jwt", response.data.jwt, '14d', null, process.env.VUE_APP_COOKIE_DOMAIN, null, 'Strict')
        location.reload()
      })
      .catch((error) => {
        this.loading = false

        if(error.response) this.error = error.response.data
        else {
          this.error = 'Error while connecting to the authentication API'
          console.error(error)
        }
      })

    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.login_wrapper {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  margin: 1em;
}

.error {
  color: #c00000;
}

form .input_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: flex;
  align-items: center;
}

.input_wrapper label {
  flex-basis: 6em;
}

.input_wrapper input {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid #444444;
}

input {
  padding: 0.25em;
}

input[type="submit"] {
  width: 150px;
  border-radius: 0.1em;
  border: 1px solid #444444;
  background-color: white;
}

</style>
