<template>
  <header>
    <!-- hamburger to open and close navigation -->
    <template v-if="navigation && ((authenticate && logged_in) || !authenticate)">
      <backburger-icon
        class="navigation_control"
        v-if="navigation_open"
        v-on:click="$emit('toggle_navigation')"/>
      <menu-icon
        class="navigation_control"
        v-else
        v-on:click="$emit('toggle_navigation')"/>
    </template>

    <!-- Logo and app name -->
    <img
      class="rotating_logo"
      src="https://cdn.maximemoreillon.com/logo/thick/logo.svg"
      alt="">

    <!-- Application name -->
    <span class="application_name">
      {{applicationName}}
    </span>

    <div class="spacer"/>

    <apps-icon
      class="header_icon"
      v-if="homepage_url"
      @click="go_to_home()"/>

    <template v-if="logged_in && authenticate">
      <account-icon
        class="header_icon"
        v-if="employee_manager_front_url"
        @click="go_to_profile()"/>

      <logout-icon
        class="header_icon"
        @click="logout()"/>
    </template>



  </header>
</template>

<script>
// Icons
import LogoutIcon from 'vue-material-design-icons/Logout.vue';
import AccountIcon from 'vue-material-design-icons/Account.vue';
import BackburgerIcon from 'vue-material-design-icons/Backburger.vue';
import MenuIcon from 'vue-material-design-icons/Menu.vue';
import AppsIcon from 'vue-material-design-icons/Apps.vue';

import VueCookies from 'vue-cookies'


export default {
  name: 'TemplateHeader',
  props: {
    applicationName: {
      type: String,
    },
    navigation: {
      type: Boolean,
      default() {return true}
    },
    navigation_open: {
      type: Boolean,
      default() {return false}
    },
    logged_in: {
      type: Boolean,
      default(){return false}
    },
    authenticate: {
      type: Boolean,
      default(){return false}
    },
  },
  components: {
    BackburgerIcon,
    MenuIcon,
    LogoutIcon,
    AccountIcon,
    AppsIcon,
  },
  data(){
    return {
      homepage_url: process.env.VUE_APP_HOMEPAGE_URL,
      employee_manager_front_url: process.env.VUE_APP_EMPLOYEE_MANAGER_FRONT_URL
        || process.env.VUE_APP_USER_MANAGER_FRONT_URL,
    }
  },
  mounted(){

  },
  methods: {
    logout(){
      //VueCookies.remove('jwt')
      VueCookies.remove('jwt', null, process.env.VUE_APP_COOKIE_DOMAIN, null, 'Strict')
      location.reload()
    },
    go_to_profile() {
      window.location.href=this.employee_manager_front_url
    },
    go_to_home() {
      window.location.href=this.homepage_url
    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header {
  /* header size must be fixed */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  background-color: #444444;
  color: white;

  font-size: 120%;

  display: flex;
  align-items: center;

  /* shadow */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  /* necessary for shadows on nav */
  position: relative;
  z-index: 11;
}

header > * {
  margin: 0.5em;
  /* keep only one margin width between elements */
  margin-right: 0px;
}

header > *:last-child {
  margin-right: 10px;
}

.rotating_logo {
  width: 35px;
}

.application_name {
  max-width: 50%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}


.navigation_control{
  transform: translateX(-200%);
  transition: transform 0.5s, color 0.25s;
  font-size: 120%;
  cursor: pointer;
}

.navigation_control:hover {
  color: #dddddd;
}

.spacer {
  flex-grow: 1;
}

.header_icon {
  transition: color 0.25s;
  cursor: pointer;
}


.header_icon:hover {
  color: #c00000;
}

/* responsivity */
@media only screen and (max-width: 800px) {
  header .navigation_control{
    transform: translateX(0%);
  }
}

</style>
